html{
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
/* Scrollbar style */
scrollbar-width: thin;
scrollbar-color: black black; /* pour Firefox */
}
  
.image-container {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    margin-top: 50px;
}

.image-container img {
    max-width: 40vw; /* 40% de la largeur de la fenêtre */
    width: 100%;
    height: auto;
    border-radius: 10px; /* Optionnel */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optionnel */
}

  .navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;  /* Centre horizontalement les éléments */
  }

  .navbar a {
      font-family: 'Array';
      font-size: 20px;
      color: white;
      padding: 14px 20px;
      text-decoration: none;
      position: relative;
      display: inline-block;
  }

  .navbar a:hover {
      color: rgb(199, 199, 199);
  }
  .section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    font-size: 1.5rem;
  }

  /* Optionnel : ajout de styles différents */
  .section:nth-child(odd) {
    background-color: #000;
  }

  .section:nth-child(even) {
    background-color: #000000;
  }


  p{
    max-width:55%;
    max-height:50%;
  }
