@font-face{font-display:swap;font-family:Array;font-weight:100;src:url(../fonts/Array-Regular.ttf) format("woff2")}

/* Styles de la page de chargement */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    font-family: 'Array';
}

.loader-container {
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.loader-text {
    font-size: 50px;
    color: #ffffff;
    transition: all 0.5s ease;
}
